<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M & J Boda</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">We're Getting Married!</a>
                </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="about">
        <div class="text-center">
            <h1>Juan Carlos</h1>
            <h1>&</h1>
            <h1>Zuleima Monserat</h1>
            <h3>Save the Date: May 24, 2024</h3>
            <p>We are thrilled to announce our wedding and would be honored to have you join us on this special day.</p>
            <h2>Wedding Details</h2>
		<p>Date: May 25, 2024</p>
		<p>Time: 2:00 PM</p>
		<p>Venue: XYZ Wedding Hall</p>
        </div>

        <img src="/crud_app/assets/img/ZJ-main.jpg">
      
